<div class="container mt-5">
    <form [formGroup]="myFrom" (ngSubmit)="submit()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput formControlName="fName">
                    <mat-error *ngIf="this.myFrom.get('fName')?.errors && this.myFrom.get('fName')?.touched">
                      <mat-error *ngIf="this.myFrom.get('fName')?.errors?.['required']">
                        First Name Required....
                      </mat-error>
                    </mat-error>
                  </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput formControlName="lName">
                    <mat-error *ngIf="this.myFrom.get('lName')?.errors && this.myFrom.get('lName')?.touched">
                      <mat-error *ngIf="this.myFrom.get('lName')?.errors?.['required']">
                        Last Name Required...
                      </mat-error>
                    </mat-error>
                  </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6">
           <div class="form-group">
                <mat-label class="d-block">How should we contact You ?</mat-label>
                <mat-radio-group aria-label="Select an option" (change)="contactMethod($event)" formControlName="contactMethod" color="primary">
                    <mat-radio-button value="email" class="mr-3 py-2">Email</mat-radio-button>
                    <mat-radio-button value="phone" class="py-2">Phone</mat-radio-button>
                </mat-radio-group>
                <p>You selected: {{selected}}</p>
           </div>
          </div>
          <div class="col-sm-6" *ngIf="selected == 'email'">
            <div class="form-group">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Email Address</mat-label>
                    <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com">
                    <mat-icon matSuffix> mail_outline</mat-icon>
                    <mat-error *ngIf="this.myFrom.get('email')?.errors && this.myFrom.get('email')?.touched">
                      <mat-error *ngIf="this.myFrom.get('email')?.errors?.['required']">
                        email is Required...
                      </mat-error>
                      <mat-error *ngIf="this.myFrom.get('email')?.errors?.['email']">
                        Enter Valid Email ...
                      </mat-error>
                    </mat-error>
                  </mat-form-field>
            </div>
          </div>
          <div class="col-sm-6" *ngIf="selected == 'phone'">
            <div class="form-group">
                <mat-form-field class="w-100" appearance="fill">
                    <mat-label>Phone Number</mat-label>
                    <span matPrefix>+91 &nbsp;</span>
                    <input type="tel" matInput formControlName="phNumber" placeholder="555-555-7777" maxlength="10" minlength="10">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="this.myFrom.get('phNumber')?.errors && this.myFrom.get('phNumber')?.touched">
                      <mat-error *ngIf="this.myFrom.get('phNumber')?.errors?.['required']">
                        Phone Number is Required...
                      </mat-error>
                      <mat-error *ngIf="this.myFrom.get('phNumber')?.errors?.['minlength']">
                        Enter a Valid Phone number.{{this.myFrom.get('phNumber')?.errors?.['minlength'].requiredLength - this.myFrom.get('phNumber')?.errors?.['minlength'].actualLength}} more digits Required.
                      </mat-error>
                    </mat-error>
                  </mat-form-field>
            </div>
          </div>
        </div>
        <button [disabled]="!myFrom.valid" class="btn btn-primary">submit</button>
    </form>
</div>

